@font-face {
	font-family: 'BrandonGrotesque-Light';
	src: url('../fonts/BrandonGrotesque-Light.ttf');
	url('.../fonts/BrandonGrotesque-Light.ttf') format('ttf'),
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'BrandonGrotesque-Bold';
	src: url('../fonts/BrandonGrotesque-Bold.ttf');
	url('.../fonts/BrandonGrotesque-Bold') format('ttf'),
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'BrandonGrotesque-Regular';
	src: url('../fonts/BrandonGrotesque-Regular.ttf');
	url('.../fonts/BrandonGrotesque-Regular') format('ttf'),
	font-weight: normal;
	font-style: normal;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html, body {
    height: 100%;
}
body {
	font-family: BrandonGrotesque-Regular;
	width: 100%;
    line-height: 1.2;
    color: rgb(255, 255, 255);
    letter-spacing: -1px;
}
header {
	background: url(../images/bg.png) no-repeat;
	background-size: cover;
	height: 620px;
}
header > .cover {
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.35);
}
header p {
	font-size: 32px;
	font-family: BrandonGrotesque-Light;
	text-align: center;
	padding: 200px 0 50px;
}
header h1 {
	font-size: 66px;
	font-family: BrandonGrotesque-Bold;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 58px;
}
header button {
	background: none;
	border: #fff solid 3px;
	border-radius: 2px;
	padding: 0 64px;
	margin: 0 auto;
	display: block;
}
header button a {
	color: rgb(255, 255, 255);
	font-size: 23px;
	font-family: BrandonGrotesque-Bold;
	text-align: center;
	line-height: 58px;
	text-decoration: none;
}
.wrapper {
	width: 67%;
	margin: 0 auto;
}
section {
	padding: 98px 50px;
	background-color: #111111;
}
section .title {
	font-size: 60px;
	font-family: BrandonGrotesque-Light;
	text-align: center;
}
section .title span {
	font-family: BrandonGrotesque-Bold;
}
section .sub-title {
  	font-size: 22px;
  	color: rgb(119, 119, 119);
  	text-align: center;
  	margin: 3px 0 78px;
}
section .flex-container, .flex-container-team {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
section .flex-container-team {
	margin-top: 19px;
}
section .flex-container > div {
	width: 27.5%;
	height: 232px;
	border: 7px solid #fff;
	border-radius: 50%;
}
section .flex-container-team > div p {
	font-size: 18px;
	text-align: center;
}
section .flex-container-team .name {
	font-family: BrandonGrotesque-Bold;
}
section .flex-container-team img {
	width: 41px;
	padding: 12px 4px;
	text-align: center;
}
section .description {
	font-size: 20px;
	color: rgb(235, 235, 235);
	margin: 36px auto 0;
	max-width: 590px;
	text-align: center;
}
